body {
	margin: 0;
	font-family: 'Libre Baskerville', serif;
	font-size: 22px;
	color: #333;
	line-height: 2.45; /* PAS UNITE */
	font-weight: 400;
	background-color: #F2F2F2;
	
	border-top: 80px solid #fff;
}

.title {
	font-family: 'Montserrat', sans-serif;
	color: #2D2825;
	line-height: 1.2;
	font-size: 1.6363636364em;/*em  36 ÷ 22 */
	font-weight: 700;
}
	.title--big{
		font-size:3.0909090909em; /*em 68 ÷ 22 */
		text-align: center;
		width: 58.3333333333%;/*% 700 ÷ 1200 */
		margin: 0 auto;
		padding-top: 2.2058823529em;/*em 150 ÷ 68 */
	}
	.title--small{
		font-size: 1em;/*em 22 ÷ 22*/
		color: #999;
		font-weight: 400;
		text-align: center;
		padding-top: .9090909091em;/*em 20 ÷ 22 */
	}
	
	.title--mission {
		background: url(img/mission.svg) no-repeat center top;
		padding-top: 240px;
	}
	.title--proto{
		background: url(img/prototypes.svg) no-repeat center top;
		padding-top: 240px;
	}

.container {
	margin: 0 auto;
	max-width: 54.545454545em;

	/* 
		taille souhaité ÷ contexte 
		1200 ÷ 22 (par defaut 16 sauf si contexte modifié)
	*/
}
	.col {
		width: 65%; /* (780 ÷ 1200) * 100 */
		margin: 4.5454545455em auto; /* 100 ÷ 22 */ 

/* 
	convertir en % les valeurs horizontales. Contexte = taille du parent.
	convertir en em les veleurs verticales et les propriétés liées à la typo.
	contexte = font-size du parent SAUF si la font-size de l'element a été modifiée, alors le contexte est la font-size de cet element.
*/

	}

/* LINK */

a{
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 400;
	color: #4A90E2;
}
	.footer a {
		font-size: 14px;
		color: #fff;
	}
	.btn{
		border: 1px solid #4A90E2;
		border-radius: 50px;
		font-size: 22px;
		padding: 20px 80px;
		margin-top: 50px;
		display: inline-block;
	}
	.center {
		text-align: center;
	}
	.header__link {
		position: relative;
		top: -68px;
	}


/* IMAGE */
.fimg{
	margin:0 0 100px 0;
	text-align: center;
}
	.fimg__caption {
		font-size: 16px;
		color: #999;
		font-style: italic;
		/*text-align: center;*/
	}

/* citation */
.quote {
	font-size: 36px;
	color: #4A90E2;
	font-style: italic;
	line-height: 1.5;
	width: 780px;
	margin:100px auto;
}
	.quote:before{ content: "«"; }
	.quote:after{ content: "»"; }

/* LAYOUT */

.header {
	background: url(img/banner.png) no-repeat center bottom #222;
	height: 700px;

	background-size: cover;
}
img {
	max-width: 100%;
	/* 100% du parent ou taille maximum de l'image */
}
.footer {
	font-family: 'Montserrat', sans-serif; 
	background: #4a4a4a;
	font-size: 14px;
	color: #fff;
}


/* box */
.box {
	background-color: #fff;
}
.title--box {
	width: 50%;
	float: left;
	background-color: #4A90E2;
	color: #FFF;
	height: 525px;
	margin:0;
	text-align: center;
	line-height: 525px;
}
.box__info {
	width: 46%;
	float: right;
	padding: 0 2%;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

/*
	clearfix

		.clearfix:after {
			content: "";
			display: table;
			clear: both;
		}
		dès qu'un parent à des elements en float

		overflow:hidden;
		1 des technique de clearfix
		la plus simple
		ne fonctionne pas quand les elements sortent du parent


	clear: both;
	force un element en dessous d'un float
	se place après un element en float
*/